{% extends 'steelwork/base.html' %}
{% load static %}
{% load thumbnail %}

{% block main %}
<main class="site-main page-spacing">
  <!-- Slider Section -->
  <div id="slider-section" class="slider-section container-fluid no-padding">
    <div id="photo_slider" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#photo_slider" data-slide-to="0" class="active"></li>
        <li data-target="#photo_slider" data-slide-to="1"></li>
        <li data-target="#photo_slider" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static "images/home-1-slide1.jpg" %}" width="1920" height="800" alt="Slide">
          <div class="carousel-caption">
            <div class="container">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p>Компания "Металар" предлагает</p>
                <h3>Производство и монтаж металлоконструкций</h3>
                <h6>При изготовлении металлоконструкций используется только самое современное оборудование и новейшие
                  технологии</h6>
                <a href="#" title="Оставить заказ">Оставить заказ</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static "images/home-1-slide2.jpg" %}" width="1920" height="800" alt="Slide">
          <div class="carousel-caption">
            <div class="container">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p>Компания "Металар" предлагает</p>
                <h3>Изделия из металла и дерева любой сложности</h3>
                <h6>Качественные изделия, изготовленные в строгом соответствии с технологией. Мы предоставляем широкий
                  ассортимент продукции</h6>
                <a href="#" title="Оставить заказ">Оставить заказ</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static "images/home-1-slide3.jpg" %}" width="1920" height="800" alt="Slide">
          <div class="carousel-caption">
            <div class="container">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p>Компания "Металар" предлагает</p>
                <h3>Проектирование и производство на заказ</h3>
                <h6>Проектирование и расчет любых работ. Производство в полном соостветствии с проектными
                  документами</h6>
                <a href="#" title="Оставить заказ">Оставить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Wrapper for slides /- -->

      <!-- Controls -->
      <a class="left carousel-control" href="#photo_slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#photo_slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </a>
    </div>
  </div><!-- Slider Section /- -->
  <div class="section-padding-small"></div>

  <!-- Welcome Section -->
  <div class="welcome-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h3>О нашей компании</h3>
        <p>Почему стоит обратиться именно к нам</p>
      </div><!-- Section Header /- -->
      <div class="col-md-6 col-sm-6 welcome-img no-padding">
        <img src="{% static "images/home-1-welcome.jpg" %}" width="570" height="497" alt="Welcome"/>
      </div>
      <div class="col-md-6 col-sm-6 welcome-content">
        <p>Наша компания предоставляет услуги по производству и монтажу металлоконструкций уже более 15 лет и имеет
          безупречную репутацию среди коммерческих и частных клиентов</p>
        <div class="welcome-box">
          <i class="icon icon-Users"></i>
          <h4>Профессиональная команда</h4>
          <p>Мы - команда профессионалов-единомышленников увлеченных и любящих свое дело. Качество - наш приоритет</p>
        </div>
        <div class="welcome-box">
          <i class="icon icon-File"></i>
          <h4>Гарантия работы</h4>
          <p>Мы гарантируем наивысшее качество произведенных нами работ и изделий из дерева и металла</p>
        </div>
        <div class="welcome-box">
          <i class="icon icon-Dollar"></i>
          <h4>Доступные цены</h4>
          <p>Мы предлагаем широкий спектр работ и материалов, подходящих под любой бюджет</p>
        </div>
      </div>
    </div><!-- Container /- -->
  </div><!-- Welcome Section /- -->
  <div class="section-padding"></div>

  <!-- Portfolio Section -->
  <div id="portfolio-section" class="container-fluid no-padding portfolio-section portfolio-4-column">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h3>Наша продукция</h3>
        <p>Изделия из металла и дерева</p>
      </div><!-- Section Header -->
      <!-- Portfolio Filters -->
      <ul id="filters" class="portfolio-categories no-left-padding sorting-menu">
        {% for service in services %}
        <li class=""><a href="{% url 'portfolio' service.id %}">{{ service.short_title }}</a></li>
        {% endfor %}
      </ul><!-- / Portfolio Filters -->
    </div>
    <div class="container-fluid no-padding portfolio-list">
      {% for service in services %}
        <div class="col-md-3 col-sm-4 col-xs-6 no-padding portfolio-box interior">
          {% thumbnail service.main_image "480x310" crop="center" as im %}
            <img alt="{{ service.title }}" src="{{ im.url }}"/>
          {% endthumbnail %}
          <div class="hover-detail">
            <div class="links">
              <a href="{{ service.main_image.url }}" class="zoom" title="{{ service.short_title }}"><i
                class="fa fa-search"></i></a>
              <a href="{% url 'portfolio' service.id %}" title="{{ service.short_title }}"><i class="fa fa-link"></i></a>
            </div>
            <div class="project-title">
              <h3>{{ service.title }}</h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div><!-- Portfolio Section /- -->

  <!-- Call Out Section -->
  <div class="call-out-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <h3>Нужны металлоконструкции? Оставьте телефон и мы перезвоним вам в ближайшее время</h3>
      <a href="#" title="view all works">Позвоните мне</a>
    </div>
    <!-- Container /- -->
  </div><!-- Call Out Section /- -->

  <!-- Testimonial Section -->
  <div class="testimonial-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <div class="testimonial-carousel">
        <div class="testimonial-box">
          <p>Качественная работа выполненная в срок. Компания "Металар" полностью оправдала ожидания</p>
          <div class="author-box">
            <img src="{% static "images/small_logo_black.png" %}" width="67" height="67" alt="Testimonial"/>
            <h4>Валерий <span>клиент компании "Металар"</span></h4>
          </div>
        </div>
        <div class="testimonial-box">
          <p>За небольшие деньги я получил кованую лестницу высочайшего качества. Великолепная работа</p>
          <div class="author-box">
            <img src="{% static "images/small_logo_black.png" %}" width="67" height="67" alt="Testimonial"/>
            <h4>Андрей <span>клиент компании "Металар"</span></h4>
          </div>
        </div>
        <div class="testimonial-box">
          <p>Спасибо за отлично сделанные гаражные ворота, было очень приятно иметь с вами дело</p>
          <div class="author-box">
            <img src="{% static "images/small_logo_black.png" %}" width="67" height="67" alt="Testimonial"/>
            <h4>Максим <span>клиент компании "Металар"</span></h4>
          </div>
        </div>
      </div>
    </div><!-- Container /- -->
  </div><!-- Testimonial Section /- -->
</main>
{% endblock main %}